# Virtual environment
**/.venv

# Ignore some instance files
**/instance/

# No cache on repository 🙏
**/__pycache__/

# Environment files
**/.env*
!**/.env*.sample

## Arquivo de walter e sua IDE
.idea
