#
# Define groups of servers
# See: https://nginx.org/en/docs/http/ngx_http_upstream_module.html#upstream
upstream backend {
    # Defines the address and other parameters of a server
    # See: https://nginx.org/en/docs/http/ngx_http_upstream_module.html#server
    server backend:${BACKEND_PORT} fail_timeout=0;
}

# vim: ft=nginx
